<header class="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" href="#">Angular Quiz</a>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<!-- <a class="nav-link" [routerLink]="['/users']">User List</a> -->
					</li>
				</ul>
				<app-user-search-form></app-user-search-form>
			</div>
		</div>
	</nav>
</header>
<ngx-spinner></ngx-spinner>
