@import "~bootswatch/dist/materia/variables";


.pagination{
  justify-content: center;
  display: flex;
    padding-left: 0;
    list-style: none;

    .page-item{
      background-color: #fff;
      border-radius: 0.25rem;

      background-clip: border-box;
      border-radius: .42rem;
      -webkit-box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
      box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
      .page-link{
        border: 1px solid #ebedf3;
        cursor: pointer;
        &:hover{
          color:#fff;
          background-color: $warning;
        }
      }
      &.active{
        color:$primary
      }
    }
}
