<div class="container mt-7" *ngIf="searchResult$ | async as result; else elseBlock">
	<app-user-item [user]="result"></app-user-item>
	<div class="row mt-7 flex justify-center">
		<a
			(click)="getAll()"
			class="btn btn-block btn-sm btn-light-warning font-weight-bolder text-uppercase py-4 text-center"
			>Back</a
		>
	</div>
</div>

<ng-template #elseBlock>
	<div class="container mt-7" *ngIf="vm$ | async as vm">
		<div class="row">
			<div class="col-4" *ngFor="let user of vm.users">
				<app-user-item [user]="user"></app-user-item>
			</div>
		</div>
		<div
			class="row mt-7 flex justify-center"
			*ngIf="vm && vm.users.length >= vm.pagination.per_page"
		>
			<app-pagination
				class="w-100 mb-7"
				[totalItems]="vm.pagination.total"
				(changePage)="onChangePage($event)"
				[pageSize]="vm.pagination.per_page"
				[maxPages]="vm.pagination.total_pages"
			></app-pagination>
		</div>
		<div class="row mt-7 flex justify-center" *ngIf="displayBackButton">
			<a
				(click)="getAll()"
				class="btn btn-block btn-sm btn-light-warning font-weight-bolder text-uppercase py-4 text-center"
				>Back</a
			>
		</div>
	</div>
</ng-template>
