<div class="card card-custom gutter-b card-stretch mt-7">
	<!--begin::Body-->
	<div class="card-body text-center pt-4">
		<!--begin::User-->
		<div class="mt-7">
			<div class="symbol symbol-circle symbol-lg-75 symbol-primary">
        <span class="font-size-h3 symbol-label font-weight-boldest">
          <img [src]="user.avatar" alt="image" class="">
        </span>

			</div>
		</div>
		<!--end::User-->
		<!--begin::Name-->
		<div class="my-2">
			<a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h4"
				>{{ user.first_name }} {{ user.last_name }}</a
			>
		</div>
		<!--end::Name-->
		<!--begin::Label-->
		<span  class="label label-inline label-lg label-light-success font-weight-bold"
      >{{ user.email }}
     </span>
		<!--end::Label-->
		<!--begin::Buttons-->
		<div class="mt-7 mb-7">
			<a
      [routerLink]="['/user-view', user.id]"
				class="btn btn-block btn-sm btn-light-warning font-weight-bolder text-uppercase py-4 text-center"
				>View User</a
			>
		</div>
		<!--end::Buttons-->
	</div>
	<!--end::Body-->
</div>
