@import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";

body{
  background-color: #eef0f8;
}
.text-center {
  text-align: center!important;
}
.gutter-b{
  margin-bottom: 25px;
}
.pt-4, .py-4 {
  padding-top: 1rem!important;

}

.mt-7, .my-7 {
  margin-top: 1.75rem!important;
}
.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}
.mb-7 {
  margin-bottom: 1.75rem!important;
}
.symbol {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-radius: .42rem;
  &.symbol-circle{
    border-radius: 50%;
    .symbol-label{
        border-radius: 50%;
    }
  }
  &.symbol-primary{
    .symbol-label{
    background-color: rgba($primary,0.1);
    color: $primary;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }
  &.symbol-lg-75{
      .symbol-label{
        width: 128px;
        height: 128px;
        overflow: hidden;
      }
  }

}
.text-hover-primary , a.text-hover-primary{
  &:hover{
    -webkit-transition: color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease,-webkit-box-shadow .15s ease;
    color: #6993ff!important;
    text-decoration: none;
  }
}

.font-weight-bolder {
  font-weight: 600!important;
}

.btn {
    outline: 0!important;
    vertical-align: middle;
    -webkit-transition: color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
    transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease,-webkit-box-shadow .15s ease;
    box-shadow: none;
    &:not(:disabled),&:not(.disabled){
      cursor: pointer;
    }
    &.btn-light-warning {
      color: $warning;
      background-color: rgba($warning,0.1);
      border-color: transparent;
      &:hover{
        background-color: rgba($warning,0.7);
        color:#fff;
      }
    }
}
.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: .725rem;
  line-height: 1.35;
  border-radius: .42rem;
}

